<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNVEIL | Catalog</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <!-- custom js file link  -->
    <script src="/js/script.js" defer></script>

</head>
<body>

<!-- header section starts  -->

<header class="header">

    <a href="home.html" class="logo"> UNVEIL  </a>

    <nav class="navbar">
        <ul>
            <li><a href="dashboard">home</a></li>
            <li><a class="active" href="/users/catalog">catalog</a></li>
            <li><a href="/users/contact">contact</a></li>
            <li><a href="#">account +</a>
                <ul>
                    <li><a href="/users/logout">logout</a></li>
                    <li><a href="/users/register">Register</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <a href="/users/cart" class="fas fa-shopping-cart"></a>
    </div>

    <form action="" class="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

</header>

<section class="heading">
    <h1>Catalog</h1>
    <p> <a href="home.html">home</a> >> cart </p>
</section>

<!-- header section ends -->

<!-- banner section starts  -->

<section class="banner">

    <div class="box">
        <img src="/images/clothes/c1.jpg" alt="">
        <div class="content">
            <span>special offers in</span>
            <h3>Garments</h3>
            <a href="/users/clothes" class="btn">View Catalogue</a>
        </div>
    </div>

    <div class="box">
        <img src="/images/gadgets/g1.png" alt="">
        <div class="content">
            <span>special offers in</span>
            <h3>Gadgets</h3>
            <a href="/users/gadgets" class="btn">View Catalogue</a>
        </div>
    </div>

    <div class="box">
        <img src="/images/travel/tt.jpg" alt="">
        <div class="content">
            <span>special offers in</span>
            <h3>Travel Needs</h3>
            <a href="/users/travel" class="btn">View Catalogue</a>
        </div>
    </div>

    <div class="box">
        <img src="/images/cosme/m1.png" alt="">
        <div class="content">
            <span>special offers in</span>
            <h3>Cosmetics</h3>
            <a href="/users/cosmetics" class="btn">View Catalogue</a>
        </div>
    </div>

    <div class="box">
        <img src="/images/tools/t1.png" alt="">
        <div class="content">
            <span>special offers in</span>
            <h3>Home Tools</h3>
            <a href="/users/tools" class="btn">View Catalogue</a>
        </div>
    </div>

    <div class="box">
        <img src="/images/baby/b1.png" alt="">
        <div class="content">
            <span>special offers in</span>
            <h3>Children</h3>
            <a href="/users/baby" class="btn">View Catalogue</a>
        </div>
    </div>
    
    <div class="box">
        <img src="/images/glasses/e1.jpg" alt="">
        <div class="content">
            <span>special offers in</span>
            <h3>Eyewear</h3>
            <a href="/users/glasses" class="btn">View Catalogue</a>
        </div>
    </div>

    <div class="box">
        <img src="/images/wheels/rr.jpg" alt="">
        <div class="content">
            <span>special offers in</span>
            <h3>Bike Section</h3>
            <a href="/users/wheels" class="btn">View Catalogue</a>
        </div>
    </div>

</section>

<!-- banner section ends -->












<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a href="home.html"> <i class="fas fa-angle-right"></i> home</a>
            <a href="products.html"> <i class="fas fa-angle-right"></i> catalogs</a>
            <a href="contact.html"> <i class="fas fa-angle-right"></i> contact</a>
            <a href="login.html"> <i class="fas fa-angle-right"></i> login</a>
            <a href="register.html"> <i class="fas fa-angle-right"></i> register</a>
            <a href="cart.html"> <i class="fas fa-angle-right"></i> cart</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="#"> <i class="fab fa-github"></i> github </a>
        </div>

        <div class="box">
            <h3>newsletter</h3>
            <p>subscribe for latest updates</p>
            <form action="">
                <input type="email" placeholder="enter your emal">
                <input type="submit" value="subscribe" class="btn">
            </form>
        </div>

    </div>

    <div class="credit">Project in CS155-1L | Presented by <span>Chan, Lorenzo, Maningat, Masacayan & San Pedro</span></div>

</section>

<!-- footer section ends -->

</body>
</html>