<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNVEIL | Catalog - Travel Essentials</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <!-- custom js file link  -->
    <script src="/js/script.js" defer></script>

</head>
<body>

<!-- header section starts  -->

<header class="header">

    <a href="home.html" class="logo"> UNVEIL  </a>

    <nav class="navbar">
        <ul>
            <li><a href="dashboard">home</a></li>
            <li><a class="active" href="/users/catalog">catalog</a></li>
            <li><a href="/users/contact">contact</a></li>
            <li><a href="#">account +</a>
                <ul>
                    <li><a href="/users/logout">logout</a></li>
                    <li><a href="/users/register">Register</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <a href="cart.html" class="fas fa-shopping-cart"></a>
    </div>

    <form action="" class="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

</header>

<!-- header section ends -->

<!-- header section  -->

<section class="heading">
    <h1>Travel Essentials</h1>
    <p> <a href="home.html">home</a> >> products </p>
</section>

<!-- header section -->

<!-- prodcuts section starts  -->

<section class="products">

    <h1 class="title"> featured products </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    
                </div>                
                <img src="/images/travel/t1.png" alt="">
            </div>
            <div class="content">
                <h3>Adidas Convertible Duffel Bag</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">Php 1,670.00 <span>20 orders</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    
                </div>                
                <img src="/images/travel/t2.png" alt="">
            </div>
            <div class="content">
                <h3>ADIDAS 4ATHLTS Backpack</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">Php 4,995.00 <span>27 orders</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    
                </div>                
                <img src="/images/travel/t3.png" alt="">
            </div>
            <div class="content">
                <h3>AQUA FLASK Wide mouth</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">Php 976.00 <span>96 orders</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    
                </div>                
                <img src="/images/travel/t4.png" alt="">
            </div>
            <div class="content">
                <h3>Hawk 4897 Backpack</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">Php 1,030.00 <span>60 orders</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    
                </div>                
                <img src="/images/travel/t5.png" alt="">
            </div>
            <div class="content">
                <h3>Nike Gray Gym Bag</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">Php 1,200.00 <span>26 orders</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    
                </div>                
                <img src="/images/travel/t6.png" alt="">
            </div>
            <div class="content">
                <h3>AirAsia Sports Tumbler</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">Php 349.00 <span>16 orders</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    
                </div>                
                <img src="/images/travel/t7.png" alt="">
            </div>
            <div class="content">
                <h3>Nike Big Mouth Bottle</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">Php 599.00 <span>12 orders</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    
                </div>                
                <img src="/images/travel/t8.png" alt="">
            </div>
            <div class="content">
                <h3>Nike Sportswear Backpack</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">Php 780.00 <span>1 order</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    
                </div>                
                <img src="/images/travel/t9.png" alt="">
            </div>
            <div class="content">
                <h3>Herschel Retreat Backpack PARFOIS </h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">399.00 <span>7 orders</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    
                </div>                
                <img src="/images/travel/t10.png" alt="">
            </div>
            <div class="content">
                <h3>Nylon Trolley Bag</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">Php 3,200.00 <span>9 orders</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    
                </div>                
                <img src="/images/travel/t11.png" alt="">
            </div>
            <div class="content">
                <h3>HardCase 20" Luggage</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">Php 4,000.00 <span>6 orders</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                
                </div>                
                <img src="/images/travel/t12.png" alt="">
            </div>
            <div class="content">
                <h3>Lock & Lock LHC411 Bottle</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">Php 350.00 <span>4 orders</span></div>
            </div>
        </div>

    </div>
</section>

<!-- prodcuts section ends -->












<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a href="home.html"> <i class="fas fa-angle-right"></i> home</a>
            <a href="products.html"> <i class="fas fa-angle-right"></i> catalogs</a>
            <a href="contact.html"> <i class="fas fa-angle-right"></i> contact</a>
            <a href="login.html"> <i class="fas fa-angle-right"></i> login</a>
            <a href="register.html"> <i class="fas fa-angle-right"></i> register</a>
            <a href="cart.html"> <i class="fas fa-angle-right"></i> cart</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="#"> <i class="fab fa-github"></i> github </a>
        </div>

        <div class="box">
            <h3>newsletter</h3>
            <p>subscribe for latest updates</p>
            <form action="">
                <input type="email" placeholder="enter your emal">
                <input type="submit" value="subscribe" class="btn">
            </form>
        </div>

    </div>

    <div class="credit">Project in CS155-1L | Presented by <span>Chan, Lorenzo, Maningat, Masacayan & San Pedro</span></div>

</section>

<!-- footer section ends -->

</body>
</html>